@import url('https://fonts.googleapis.com/css?family=Monda|Niconne|Russo+One');

/*
font-family: 'Russo One', sans-serif;粗體
font-family: 'Monda', sans-serif;內容
font-family: 'Niconne', cursive;
*/


/*
@media screen and (max-width:768px) {
    .left {
        width: 100%;
    }
    .right {
        width: 100%;
    }
    .container {
        width: 100%;
    }
}
*/


/*
@media screen and (min-width:769px) and (max-width:991px) {

}
*/

[class*="col-"] {
    float: left;
    padding: 10px;
}

h3,
h4,
p,
h2 {
    text-align: center;
}

span {
    font-weight: bold;
}

section {
    margin-bottom: 30px;
    padding: 50px;
}

.container {
    width: 100%;
}


/*
大型看板開始(含導覽列)
*/

header {
    background-image: url(http://unsplash.it/1000?image=668);
    background-size: cover;
    height: 100vh;
    color: white;
}

header h1 {
    font-family: "Russo One";
    text-align: center;
    font-size: 70px;
    position: relative;
    top: 30%;
}

header h4 {
    font-family: "Niconne";
    text-align: center;
    font-size: 33px;
    position: relative;
    top: 30%;
}

ul>li {
    display: inline-block;
    padding: 10px;
    padding-left: 20px;
    position: relative;
    left: 60px;
    top: 20px;
}

ul .btn {
    font-family: "Russo One";
    font-size: 18px;
    width: 150px;
    height: 35px;
    border: 1px solid;
    position: relative;
    left: 80px;
    top: 17px;
}

.nav a {
    font-family: "Russo One";
    text-decoration: none;
    color: white;
}

.nav img {
    width: 150px;
    position: relative;
    left: 60px;
    top: 20px;
}

#row-header-btn {
    padding: 30px;
    position: relative;
    top: 30%;
    text-align: center;
    font-family: "Monda";
    word-spacing: 10px;
    letter-spacing: 4px;
    font-size: 20px;
}

#row-header-btn a {
    background-color: #c0a375;
}

#row-header-btn .btn {
    border: 1px solid;
    padding: 10px;
}


/*
大型看板結束(含導覽列)
*/


/*第二部分3小格插畫開始*/

.row-what .thumbnail {
    background-color: #efefef;
    padding: 80px;
}

.row-what .thumbnail h3 {
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 20px;
}

.row-what {
    background-color: #efefef;
}


/*第二部分3小格插畫結束*/


/*第三部分 HOW MOBIRISE WORKS  4小格開始*/

.row-howmobirise-4 .thumbnail {
    background-color: #c1c1c1;
    padding: 10px;
}

.row-howmobirise-4 h1 {
    font-family: "Russo One";
    color: white;
    text-align: center;
    font-size: 50px;
    position: relative;
    padding: 50px;
}

.row-howmobirise-4 {
    background-color: #c1c1c1;
    padding-top: 40px;
    padding-bottom: 90px;
}


/*第三部分 HOW MOBIRISE WORKS  4小格結束*/


/*<!--第四部分 崁入影片 DROP-DEAD EASY... 開始-->*/

#row1 {
    background-color: #efefef;
    padding: 100px;
}

#row1 h2 {
    color: black;
    position: relative;
    left: 100px;
}

#row1 p {
    font-family: "Monda";
    color: darkgray;
    position: relative;
    left: 100px;
    width: 90%;
}

#row1-btn {
    position: relative;
    left: 100px;
}

.col-md-6>p {
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
    font-size: 19px;
}

.col-md-6>h2 {
    font-weight: bold;
    font-size: 50px;
    text-align: left
}


/*<!--第四部分 崁入影片 DROP-DEAD EASY... 結束-->*/


/*第五部分 PLEASE SHARE IT! 開始*/

.author img {
    border-radius: 500px;
    width: 40px;
}

.author {
    text-align: center;
    padding: 30px;
}

#PLEASE h1 {
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}

#PLEASE {
    padding-top: 80px;
    padding-bottom: 80px;
}


/*第五部分 PLEASE SHARE IT! 結束*/


/*第六部分 BEAUTIFUL MOBILE WEBSITES 開始*/

#BEAUTIFUL-row2 {
    background-image: url(http://unsplash.it/1000?image=816);
    background-size: cover;
    height: 60vh;
    top: 50vh;
    padding: 70px;
}

#BEAUTIFUL-row2 h2 {
    text-align: right;
    padding-right: 60px;
}

#BEAUTIFUL-row2 p {
    text-align: right;
    padding-right: 60px;
}

#BEAUTIFUL-row2-btn {
    position: relative;
    bottom: 60px;
    left: 230px;
}


/*第六部分 BEAUTIFUL MOBILE WEBSITES 結束*/


/*第七部分 BOOST YOUR RANKING 4格插畫 開始*/

.row-BOOSTYOUR-4 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.row-BOOSTYOUR-4 h4 {
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 20px;
}


/*第七部分 BOOST YOUR RANKING 4格插畫 結束*/


/*第八部分 IMAGE/CONTENT SLIDER 4格照片開始*/

.IMAGE1 {
    padding: 15px;
}

.IMAGE1 h4 {
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 30px;
}

.IMAGE1 p {
    font-family: "Monda";
    line-height: 20px;
    word-spacing: 1px;
    letter-spacing: 1px;
}


/*第八部分 IMAGE/CONTENT SLIDER 4格照片結束*/


/*<!--第九部分 GOOGLE MAPS 4格照片開始-->*/

.IMAGE2 {
    padding: 15px;
}

.IMAGE2 h4 {
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 30px;
}

.IMAGE2 p {
    font-family: "Monda";
    line-height: 20px;
    word-spacing: 1px;
    letter-spacing: 1px;
}


/*<!--第九部分 GOOGLE MAPS 4格照片結束-->*/
